<MudDialog>
    <TitleContent>
        <PageTitle Title="@Cell.Tile.SubjectLongName" />
    </TitleContent>
    <DialogContent>
        <div class="pb-1">
            <strong>Short Name:</strong> @Cell.Tile.SubjectShortName
        </div>
        <div class="pb-1">
            <strong>Place:</strong> @Cell.Tile.Place
        </div>
        <div class="pb-1">
            <strong>Interval:</strong> @Interval
        </div>
        <div class="pb-1">
            <strong>Day:</strong> @Cell.Day
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>