@using UniHelper.Shared.Enums
<MudDialog>
    <DialogContent>
        <div>
            <EditForm EditContext="CourseContext">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div>
                    <MudTextField @bind-Value="Model.Place" Label="Place" FullWidth="true"/>
                    <ValidationMessage For="() => Model.Place"></ValidationMessage>
                </div>
                <div>
                    <MudSelect @bind-Value="Model.Type" Label="Type" FullWidth="true" Dense="true">
                        @foreach (var type in Enum.GetValues(typeof(CourseType)).Cast<CourseType>().ToArray())
                        {
                            <MudSelectItem Value="type"/>
                        }
                    </MudSelect>
                    <ValidationMessage For="() => Model.Type"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="Model.Number" Label="Number" FullWidth="true"/>
                    <ValidationMessage For="() => Model.Number"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="Model.Length" Label="Length" FullWidth="true"/>
                    <ValidationMessage For="() => Model.Length"></ValidationMessage>
                </div>
                <div>
                    <MudSelect @bind-Value="Model.Day" Label="Day" FullWidth="true" Dense="true">
                        @foreach (var day in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>().ToArray())
                        {
                            <MudSelectItem Value="day"/>
                        }
                    </MudSelect>
                    <ValidationMessage For="() => Model.Day"></ValidationMessage>
                </div>
                <div>
                    <MudTextField @bind-Value="Model.Teachers" Label="Teachers" FullWidth="true"/>
                    <ValidationMessage For="() => Model.Teachers"></ValidationMessage>
                </div>
                <div>
                    <MudSwitch @bind-Checked="Model.IsSelected" Label="Is Selected" Color="Color.Primary"/>
                    <ValidationMessage For="() => Model.IsSelected"></ValidationMessage>
                </div>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>