@using UniHelper.Shared.Enums

<MudDialog>
    <DialogContent>
        <EditForm EditContext="TaskContext">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div>
                <MudRadioGroup @bind-SelectedOption="AddType">
                    @foreach (var type in Enum.GetValues(typeof(TaskType)).Cast<TaskType>())
                    {
                        <MudRadio Option="@type" Color="Color.Primary">@type</MudRadio>
                    }
                </MudRadioGroup>
            </div>
            @if (AddType == TaskType.Period)
            {
                <div>
                    <MudSelect @bind-Value="SelectedId" Label="Period" FullWidth="true" Dense="true">
                        <MudSelectItem TValue="int" Value="@(0)"></MudSelectItem>
                    </MudSelect>
                </div>
            }
            else if (AddType == TaskType.Subject)
            {
                <div>
                    <MudSelect @bind-Value="SelectedId" Label="Subject" FullWidth="true" Dense="true">
                        <MudSelectItem TValue="int" Value="@(0)"></MudSelectItem>
                    </MudSelect>
                </div>
            }
            <div>
                <MudTextField @bind-Value="Model.Text" Label="Task" FullWidth="true"/>
                <ValidationMessage For="() => Model.Text"></ValidationMessage>
            </div>
            <div>
                <MudDatePicker @bind-Date="Model.DueDate" Label="Due Date" Class="w-100"/>
                <ValidationMessage For="() => Model.DueDate"></ValidationMessage>
            </div>
            <div>
                <MudSelect @bind-Value="Model.Priority" Label="Priority" FullWidth="true" Dense="true">
                    @foreach (var priority in Enum.GetValues(typeof(TaskPriority)).Cast<TaskPriority>().ToArray())
                    {
                        <MudSelectItem Value="priority"/>
                    }
                </MudSelect>
                <ValidationMessage For="() => Model.Priority"></ValidationMessage>
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>