@import '../Assets/colors';

#calendar {
  width: 100%;

  thead {
    tr {
      th {
        color: $main-color-dark;
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px dotted $main-color-light;

      td {
        height: 57px;
        padding: 0.1rem;

        .tile {
          display: flex;
          flex-direction: row;
          padding: 0.2rem;
          height: 100%;
          align-items: center;
          vertical-align: middle;
          justify-items: center;

          .tile-element {
            display: flex;
            flex-direction: column;
            padding: 0.2rem;
            flex-grow: 1;
            text-align: center;
            border: 2px solid $main-color-dark;
            background-color: $main-color-opacity;
            color: $main-color-dark;
            border-radius: 4px;
            font-weight: bold;
            height: 100%;
            vertical-align: center;
            justify-content: center;
            align-content: center;
            transition-duration: 0.4s;
            
            &.hovered {
              opacity: 0.6;
              transition-duration: 0.4s;
            }
            
            .tile-title {
              
            }
            
            .tile-info {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}