@page "/calendar"

<PageTitle Title="Calendar"></PageTitle>

@if (CalendarData != null)
{
    <table id="calendar">
        <thead>
        <tr>
            <th></th>
            @foreach (var i in CalendarData.Days)
            {
                <th>@i.DayOfWeek</th>
            }
        </tr>
        </thead>
        @if (Rows != null && Rows.Count > 0)
        {
            <tbody>
            @foreach (var row in Rows)
            {
                <tr>
                    <th>@row.Number</th>
                    @foreach (var cell in row.Cells)
                    {
                        @if (cell.DoTile)
                        {
                            <td rowspan="@cell.RowSpanNumber">
                                <div class="tile">
                                    @foreach (var tile in cell.Tiles)
                                    {
                                        <div class="tile-element">@tile.SubjectShortName</div>
                                    }
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        }
    </table>
}