@page "/"
@using Microsoft.AspNetCore.Authorization
@using Shared.DTOs
@using UniHelper.Services
@attribute [Authorize]

<div class="w-100">
    <MyPageTitle Title="Home" />
    <MudPaper class="p-3">
        <MudChart ChartType="ChartType.Pie" InputData="@GetTaskNumbers()" InputLabels="@GetTaskLabels()" Width="300px"
            Height="250px" />
    </MudPaper>

    <MudPaper class="mt-3 p-3">
        <MudChart ChartType="ChartType.Line" ChartSeries="@GetSeriesList()" XAxisLabels="@GetSeriesLabels()"
            Height="250px" />
    </MudPaper>
</div>

@code {
    /// <summary>
    /// Stat Service
    /// </summary>
    [Inject]
    public IStatService StatService { get; set; }

    private StatisticDto Stat { get; set; } = new();

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        Stat = await StatService.GetHomeStat();
    }

    private double[] GetTaskNumbers()
    {
        return new double[] { Stat.SolvedTasks, Stat.UnSolvedTasks };
    }

    private string[] GetTaskLabels()
    {
        return new[] { "Solved", "Not solved" };
    }

    private List<ChartSeries> GetSeriesList()
    {
        return new()
        {
            new ChartSeries
            {
                Name = "Marks",
                Data = Stat.Periods.Select(period => period.Marks.Count() == 0 ? 0 :
                period.Marks.Average()).ToArray()
            }
        };
    }

    private string[] GetSeriesLabels()
    {
        return Stat.Periods.Select(period => period.Label).ToArray();
    }
}