.data-header {
  display: flex;
  flex-direction: row;
}
.data-header .spacer {
  flex-grow: 1;
}

.data-box {
  padding: 0.4rem;
  font-size: 14px;
}

.data-box .data-row {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.data-box .data-row.green-row {
  color: green;
}

.data-box .data-row.red-row {
  color: red;
}