@page "/tasks"
@using UniHelper.Enums
@using UniHelper.Shared.Enums

<PageTitle Title="Tasks"></PageTitle>

<div>
    <MudIconButton Icon="@Icons.Filled.Add" OnClick="OpenAddDialog"></MudIconButton>
</div>